* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1a0033, #0f0024, #00214d);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #6fe8ff;
    text-shadow: 0 0 15px #00eaff;
}

.subtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #b8f6ff;
}

.login-btn {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #6fe8ff;
    padding: 12px 28px;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
}

.login-btn:hover {
    background: rgba(111, 232, 255, 0.2);
    box-shadow: 0 0 20px #00eaff;
}

.google-icon {
    width: 25px;
    height: 25px;
}
